
#gameboard {
    padding-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto;

}

#scoreboard {
    position: absolute;
    right: 0px;
    font-size: x-large;
}

body {
    background-size: cover;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,197,118,1) 0%, rgba(254,106,103,1) 47.7%, rgba(240,23,23,1) 92.3% );
}

#scoreboard span {
    color: whitesmoke;
    padding: 0 10px;
}

#card {
    padding: 20px;
}

.image {
    height: 100px;
    width: 150px;
    border: solid 2px black;
    padding: 20px 20px;
    cursor: pointer;
}

.image:hover {
    transform: scale(1.1); 
}